.page-banner {
    margin-top: 30px;
    padding: 15px;
    background-color:#000066;
    border-style: solid;
    border-color:white;
    color:white;
    font-family: Calisto MT;
    font-size:x-large;
}

